.headerBackground {
    background-color: cornflowerblue;
}

.group {
    display: flex;
    padding: 0 1rem;
}

.report {
    background-color: khaki;
    border-radius: 15px;
    align-self: center;
    /* margin-right: -10%; */
}
.header {
    display: grid;
    grid-template-columns: 5fr 1fr
}

.carousel {
    /* height: 15rem; */
    width: 60%;
    align-self: center;
}

.reveiews {
    display: grid;
}

.reveiews > p {
    font-family: initial;
    font-size: small;
}

.footerContainer {
    display: grid;
}

.footerContainer > .title {
    display: flex;
    padding: 1rem 5rem 0 5rem
}

.infoContainer {
    display: flex;
    padding: 1rem 5rem;
}

.map > h3 {
    max-inline-size: fit-content;
}

.introduction{
    /* margin-top: -1rem; */
    margin-left: 3rem;
}