.headerBackground {
    /* background-color: #ffffff; */
    background-color: cornflowerblue;
}

.group{
    display: flex;
    padding: 0 1rem;
}

.report{
    background-color: khaki;
    border-radius: 15px;
    align-self: center;
    margin-right: -10%;
}
.header{
    display: grid;
    grid-template-columns: 5fr 1fr
}